@font-face {
  font-family: IranSans;
  src: url("./Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot");
  src: url("./Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("./Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2")
      format("woff2"),
    url("./Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff")
      format("woff"),
    url("./Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf")
      format("ttf");
}
body {
  margin: 0;
  padding: 0;
  background-image: url(./img/IMG_20240127_164547.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.login {
  width: 30%;
  height: 434px;
  margin-left: 470px;
  margin-top: 120px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
}
input,
button {
  width: 80%;
  height: 50px;
  float: right;
  text-align: right;
  margin-top: 30px;
  margin-left: 35px;
  border-radius: 30px;
  font-size: 20px;
  padding-right: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.27);
}
input:focus{
  outline: none;
}
::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
  font-family: "IranSans" !important;
  font-weight: 700;
  font-size: 15px;
  padding-right: 10px;
}
button {
  background-color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  font-family: "IranSans" !important;
}
button:hover{
  cursor: pointer;
}
label {
  font-size: 15px;
  margin-top: 15px;
  font-weight: 700;
  text-align: center;
  font-family: "IranSans" !important;
}
h1 {
  font-size: 30px;
  color: white;
  text-align: center;
  font-family: "IranSans" !important;
}
a {
  text-decoration: none;
  color: blue;
}
a:visited,
a:focus {
  text-decoration: none;
  color: blue;
}
