* {
  padding: 0;
  margin: 0;
}
.navbar {
  width: 100%;
  height: 100px;
  background-color: whitesmoke;
}
.logo {
  width: 200px;
  height: 100px;
  margin-bottom: 10px;
}
.search input {
  width: 30%;
  height: 40px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 30px;
  margin-left: 250px;
  top: 30px;
  position: fixed;
  text-align: right;
  font-size: 25px;
  padding-right: 10px;
}
.search button {
  position: absolute;
  left: 251px;
  top: 31px;
  width: 52px;
  height: 40px;
  border: 0;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background: #1c9650;
}
input:focus {
  outline: none;
}
input:hover {
  cursor: text;
}
.login {
  width: 8%;
  height: 25px;
  float: right;
  margin-top: 25px;
  margin-right: 20px;
  border-radius: 10px;
  border: 3px dashed black;
  display: flex;
  color: black;
  column-gap: 15%;
  font-weight: 900;
  font-size: 22px;
  padding: 10px 20px 10px 10px;
  background: url(./img/User.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
  margin-right: 30px;
  margin-top: 20px;
  right: 0;
  top: 0;
  position: fixed;
}
.login:hover {
  cursor: pointer;
}
.login a {
  text-decoration: none;
}
.login a:visited {
  color: black;
}
