@font-face {
  font-family: IranSans;
  src: url("./Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot");
  src: url("./Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("./Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2")
      format("woff2"),
    url("./Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff")
      format("woff"),
    url("./Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf")
      format("ttf");
}
* {
  padding: 0;
  margin: 0;
}
.navbar {
  width: 100%;
  height: 100px;
  background-color: whitesmoke;
  display: flex;
}
.logo {
  width: 200px;
  height: 100px;
  margin-bottom: 10px;
}
.search input {
  width: 30%;
  height: 40px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 30px;
  margin-left: 50px;
  top: 30px;
  position: fixed;
  text-align: right;
  font-size: 25px;
  padding-right: 10px;
}
.search button {
  position: absolute;
  left: 251px;
  top: 31px;
  width: 52px;
  height: 40px;
  border: 0;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background: #1c9650;
}
::-webkit-input-placeholder {
  font-family: "IranSans" !important;
  font-weight: 900;
  font-size: 20px;
}
input:focus {
  outline: none;
}
input:hover {
  cursor: text;
}
.login {
  width: 8%;
  height: 25px;
  float: right;
  margin-top: 25px;
  margin-right: 20px;
  border-radius: 10px;
  border: 3px dashed black;
  display: flex;
  color: black;
  column-gap: 10%;
  font-weight: 900;
  font-size: 17px;
  padding: 10px 20px 10px 10px;
  background: url(./img/User.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
  margin-right: 30px;
  margin-top: 20px;
  right: 0;
  top: 0;
  position: fixed;
  font-family: "IranSans" !important;
}
.login:hover {
  cursor: pointer;
}
.login a {
  text-decoration: none;
}
.login a:visited {
  color: black;
}
