*{
    padding: 0;
    margin: 0;
}
.navbar{
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
}
.logo{
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
}
.search{
    width: 20%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    background: url(./img/search.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
    background-color: white;
    margin-bottom: 30px;
    margin-left: 2%;
    top: 30px;
    position: fixed;
    text-align: right;
    font-size: 25px;
    padding-right: 10px;
}
input:focus{
    outline:none;
}
.search:hover{
    cursor: text;
}
.login{
   width: 8%;
   height: 25px;
   float: right;
   margin-top: 25px;
   margin-right: 20px;
   border-radius: 10px;
   border: 3px dashed black;
   display: flex;
   color: black;
   column-gap: 15%;
   font-weight: 900;
   font-size: 22px;
   padding: 10px 20px 10px 10px ;
   background: url(./img/User.png);
   background-repeat: no-repeat;
   background-position: right;
   background-size: 30px;

}
.login:hover{
    cursor: pointer;
}
.login a{
    text-decoration: none;
}
.login a:visited{
    color: black;
}
